<%= link_to '< Retour', welcome_index_path, method: :get %>
<br />
<br />
Transactions enregistrées dans la commune : <%= @zip_code %>
<br />
<table border=1>
  <tr>
    <th>Date</th>
    <th>Adresse</th>
    <th>Type</th>
    <th>Surface bâti</th>
    <th>Surface terrain</th>
    <th>Nombre pièces</th>
    <th>Valeur</th>
  </tr>
  <% @resp.each do |result| %>
      <tr>
        <td><%= result['date_mutation']%></td>
        <td><%= "#{result['numero_voie']} #{result['type_voie']} #{result['voie']}, #{result['code_postal']} #{result['commune']}"%></td>
        <td><%= result['type_local']%></td>
        <td><%= result['surface_relle_bati']%></td>
        <td><%= result['surface_terrain']%></td>
        <td><%= result['nombre_pieces_principales']%></td>
        <td><%= result['valeur_fonciere']%> €</td>
      </tr>
  <% end %>
</table>